h1{
font-size: 15vh;
text-align: center;
color: blue;
}

h2{
font-size: 5vh;
text-align: center;
color: red;
}

body {
  height: 100vh;
  background-color:black;
  display:flex;
  flex-direction: column;
  justify-content: space-around;

}

.click-count{
  color: green;
}

.content{
  text-align: center;
}

input, label{
  height: 5vh;
}

input, label, button{
  font-size: 5vh;
  width: 10vw;
  text-align: center;
  padding: 2vh 2vw 2vh 2vw;
  margin: 2vh 2vw 2vh 2vw
}

