*{
  border: 1px dotted black;
}


h1, h2, h3, h4, h5{
text-align: center;
color: red;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header > * {
  margin: 0.25em;
}

body {
  font-size: 3em;
  height: 100vh;
  background-color:white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw; 
  font-family: "Open Sans";
}

main{
  color: green;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

main > p {
  padding: 0.25em;
  text-align: justify;
}
